*, ::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    background: #dfe3f2 ;
}
.card {
  width: 400px;
  height: auto;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  border-radius: 5px;
  overflow: hidden;
  background: #fafbff;

}
.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
     
}